* {
  font-family: "Montserrat", sans-serif;
}

.appear {
  animation: appear 0.5s ease-in-out forwards;
}

.appear-delay-1 {
  animation-delay: 500ms;
}

.appear-delay-2 {
  animation-delay: 1000ms;
}

.appear-delay-3 {
  animation-delay: 1500ms;
}

.appear-delay-4 {
  animation-delay: 2000ms;
}

.appear-delay-5 {
  animation-delay: 2500ms;
}

.appear-delay-6 {
  animation-delay: 3000ms;
}

.appear-delay-7 {
  animation-delay: 3500ms;
}

.appear-delay-8 {
  animation-delay: 4000ms;
}

.appear-delay-9 {
  animation-delay: 4500ms;
}

.appear-delay-10 {
  animation-delay: 5000ms;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
